{% extends 'base.html' %}
{% load i18n %}

{% block content %}
      <h1 class="display-4">{% translate "Labels" %}</h1>
      <a class="nav-link" href="{% url 'create_label' %}">{% translate "Create label" %}</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 100px;">ID</th>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col" style="width: 155px;">{% translate "Date of creation" %}</th>
            <th scope="col" style="width: 15px;"></th>
          </tr>
        </thead>
        <tbody>
            {% for label in labels %}
            <tr>
              <th scope="row">{{ label.id }}</th>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at }}</td>
                <td>
                    <a href="{% url 'update_label' label.id %}">{% translate "Change" %}</a><br>
                    <a href="{% url 'delete_label' label.id %}" rel="nofollow">{% translate "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}
