{% load i18n %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.alert').forEach(alert => {
            alert.addEventListener('click', () => {
                alert.style.display = 'none';
            });
        });
    });
</script>
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project for Hexlet.io">
    <title>Менеджер задач</title>
    {% bootstrap_css %}
  </head>
  {% endblock head %}
  {% block body %}
  <body class="min-vh-100 d-flex flex-column">
    {% include "navbar.html" %}

  <main class="container wrapper flex-grow-1 my-4">

    {% bootstrap_messages messages %}
    
    {% block content %}
    {% endblock %}
  </main>

  {% bootstrap_javascript %}
  </body>
  {% endblock body %}
</html>