{% load i18n %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.alert').forEach(alert => {
            const closeButton = alert.querySelector('.close');
            closeButton.addEventListener('click', () => {
                alert.style.display = 'none';
            });
        });
    });
</script>
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project for Hexlet.io">
    <title>{% translate "Task manager" %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  {% endblock head %}
  {% block body %}
  <body class="min-vh-100 d-flex flex-column">
    {% include "navbar.html" %}

    <main class="container wrapper flex-grow-1 my-4">

      {% bootstrap_messages messages %}
      
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://github.com/sidnnov/">by sidnnov</a>
      </div>
    </footer>
  </body>
  {% endblock body %}
</html>