{% extends 'base.html' %}
{% load i18n %}

{% load bootstrap4 %}

{% block main %}
<main class="flex-grow-1">
  <div class="container wrapper flex-grow-1 my-5">
    <h1 class="my-4"></h1>
    <div class="card">
      <div class="card-body p-5 bg-light">
        <div class="display-4">{% translate "Hello from Hexlet!" %}</div>
        <p class="lead">{% translate "Practical programming courses" %}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">{% translate "Learn more" %}</a>
      </div>
    </div>
  </div>
</main>
{% endblock main %}