{% extends 'base.html' %}
{% load i18n %}

{% load bootstrap4 %}

{% block content %}
    <h1 class="my-4"></h1>
    <div class="card">
      <div class="card-body p-5 bg-light">
        <div class="display-4">{% translate "Hello" %}!</div>
        <p class="lead">{% translate "You're on the study proct page - the task manager. You can register and try to create your own task." %}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="{% url 'user_create' %}">{% translate "Sign up" %}</a>
      </div>
    </div>
{% endblock %}