{% load bootstrap4 %}
{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark px-3" style="background-color: rgb(31, 31, 43);">

    <a class="navbar-brand" href="{% url 'index' %}">{% translate "Task manager" %}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">{% translate "Users" %}</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'statuses' %}">{% translate "Statuses" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'labels' %}">{% translate "Labels" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks' %}">{% translate "Tasks" %}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile' request.user.id %}">{{request.user | title}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{% translate "Logout" %}</a>
          </li>
        </ul>
        {% else %}
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">{% translate "Login" %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'user_create' %}">{% translate "Sign up" %}</a>
          </li>
        </ul>
        {% endif %}
    </div>
</nav>