{% extends 'base.html' %}
{% load i18n %}

{% block content %}
      <h1 class="display-4">{% translate "Tasks" %}</h1>
      <a class="nav-link" href="/tasks/create/">{% translate "Create task" %}</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col">{% translate "Status" %}</th>
            <th scope="col">{% translate "Author" %}</th>
            <th scope="col">{% translate "Performer" %}</th>
            <th scope="col">{% translate "Date of creation" %}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
              <th scope="row" style="width: 2%;">{{ task.id }}</th>
                <td class="text-break" style="width: 25%;">{{ task.task_name }}</td>
                <td class="text-break" style="width: 20%;">{{ task.status.title }}</td>
                <td class="text-break" style="width: 15%;">{{ task.author }}</td>
                <td class="text-break" style="width: 15%;">{{ task.performer.first_name }} {{ task.performer.last_name }}</td>
                <td style="width: 13%;">{{ task.created_at }}</td>
                <td style="width: 5%;">
                    <a href="{% url 'update_task' task.id %}">{% translate "Change" %}</a><br>
                    <a href="{% url 'delete_task' task.id %}" rel="nofollow">{% translate "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}







