{% extends 'base.html' %}
{% load i18n %}

{% load bootstrap4 %}

{% block content %}
      <h1 class="display-4">{% translate "Tasks" %}</h1>

      <a class="nav-link" href="{% url 'create_task' %}">{% translate "Create task" %}</a>

      <div class="card mb-3">
        <div class="card-body bg-light">
          <div class="row">
            <div class="col-md-5">
                <form method="get" class="filter-form">

                  {% bootstrap_form filter.form %}

                  <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
                  </div>

                </form>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col">{% translate "Status" %}</th>
            <th scope="col">{% translate "Author" %}</th>
            <th scope="col">{% translate "Executor" %}</th>
            <th scope="col">{% translate "Date of creation" %}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
              <th scope="row" style="width: 2%;">{{ task.id }}</th>
                <td class="text-break" style="width: 25%;">
                  <a href="{% url 'card_task' task.id %}">{{ task.name }}</a>
                </td>
                <td class="text-break" style="width: 20%;">{{ task.status.name }}</td>
                <td class="text-break" style="width: 15%;">{{ task.author }}</td>
                <td class="text-break" style="width: 15%;">{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
                <td style="width: 13%;">{{ task.created_at }}</td>
                <td style="width: 5%;">
                    <a href="{% url 'update_task' task.id %}">{% translate "Change" %}</a><br>
                    <a href="{% url 'delete_task' task.id %}" rel="nofollow">{% translate "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}







